@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
.join-form{
    border : 6px solid lightgray; 
    padding : 5%;
}

.abhaya-libre-regular {
    font-family: "Abhaya Libre", serif;
    font-weight: 600;
    font-size : 40px;
    font-style: normal;
}

.playfair-display {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-size : 70px;
    font-style: normal;
  }