#main-logo{
    width: 70%;
}
#main-navbar{
    height: 15%;
    background-color: #5DC9A7;
}
.navbar-nav{
    width: 50%;
}
.main-nav-unit {
    color: white;
}
.section_bar {
    width: 12%;
    height: 100%;
    background-color: #FDCFCF;
    padding-bottom: 100%;
    text-align: center;
}
.user_ul > li, a{
    list-style: none;
    text-decoration:none;
    color: white;
}
.user_menu1, .user_menu2{
    padding: 10%;
    border-bottom: 1px solid gray;
}
.user_menu1>a:hover{
    color: #000000;
}
.user_menu2>a:hover{
    color: #000000;
}
.content_bar{
    padding-top: 1.3em;
    margin: 0 auto;
    border-bottom: 1px solid black;
}
.content_menu {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 0 auto;
}
.content_ul li{
    list-style: none;
    display: inline-block;
    font-weight: 600;
    font-size: 1.2rem;
    margin-right: 11%;
}
.content_ul{
    margin-top: 1em;
}
section {
    display: flex;
}
.emails, .years {
    padding-left: 5%;
}
.years {
    margin-left: 5%;
}
h6{
    color: gray;
    text-align: center;
    line-height: 50;
}